XAI_API_KEY=
XAI_MODEL=
USE_MOCK_GROK=true
DEMO_USER_ID=demo-user
MEMORY_SAVE_ENDPOINT=
MEMORY_SEARCH_ENDPOINT=
MEMORY_LIST_ENDPOINT=
MEMORY_GET_ENDPOINT=
MEMORY_UPDATE_ENDPOINT=
FRONTEND_ORIGIN=http://localhost:3000
